node_modules
.svelte-kit
dist
.git
.gitignore
.env
.env.*
!.env.example
.yarn/cache
.yarn/install-state.gz
**/*.log
**/coverage
**/playwright-report
**/test-results
**/.vscode
**/.idea
**/.DS_Store
**/Thumbs.db
